.color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin: 2px;
  border-radius: 50%;
}

.black {
  background-color: #cbc2bf;
  color: #cbc2bf;
}

.blue {
  background-color: #aae0fa;
  color: #aae0fa;
}

.green {
  background-color: #9bd3ae;
  color: #9bd3ae;
}

.red {
  background-color: #f9aa8f;
  color: #f9aa8f;
}

.white {
  background-color: #fffbd5;
  color: #fffbd5;
}

.colorblind > span {
  color: black;
}
