.guessWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;

  h2 {
    color: #ddd;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
  }
}

/* This is some whacky nesting */
.guess {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  gap: 10px;

  p {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;

    div {
      display: flex;
      gap: 4px;
      justify-content: center;
      align-items: center;

      p {
        margin: 0;
        font-size: 1.25rem;
        font-weight: normal;
      }
    }
  }
}

.guessImage {
  grid-row: span 2;
  align-self: center;
}

.set {
  div {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
    }
  }
}

.colorsWrapper {
  .colors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    column-gap: 10px;
    justify-items: center;

    & > :nth-child(3) {
      position: absolute;
    }

    & > :only-child {
      grid-column: span 2;
    }
  }
}

.type {
  grid-column: span 2;
}

.subtype {
  grid-column: span 2;
}

.correct {
  background-color: green;
}

.near {
  background-color: yellow;
}
