.form {
  margin: 1rem;
  & > div {
    position: relative;
  }
}

.guessInput {
  padding: 0.5rem;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
  transition: border-radius 0.3s;

  &:focus-visible {
    outline: none;
  }

  &.autocomplete {
    border-radius: 8px 0 0 0;
  }
}

.submitGuess {
  padding: 0.5rem;
  font-size: 2rem;
  background-color: #4CAF50;
  color: white;
  border: 1px solid transparent;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #45a049;
  }

  &:focus-visible {
    outline: none;
  }
}
